

@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  background-color: #faf6f2;
}

/* Optional: Add custom font */
@font-face {
  font-family: 'Your Font';
  src: url('/fonts/your-font.woff2') format('woff2');
}